.wrapper{
    height: 100vh;
    width: 100vw;
    background: url('./transparent-background-png-free-12.png');
    background-size: cover;

}
.blocktext {
    margin-left: auto;
    margin-right: auto;
    
}
