
.Box{
    text-align: center;
    
}
.Points{
    list-style-type: none;
}
@keyframes cc{
    0% {color: black;}
    100% {color:white;}}
  .Change {animation: cc 5s infinite;}
  .Move {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  .RSSCHOOL{
    width: 10vw;
    height: 10vh;
    margin: 0 auto;
  }
 .Cover {object-fit: contain;}